name: Prod Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Generate image tag
        id: image-tag
        run: |
          IMAGE_TAG=$(echo ${{ github.sha }} | cut -c1-8)
          echo "tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "full_image=${{ secrets.DOCKER_USERNAME }}/strato-api:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker compose build --build-arg DefaultConnection=${{ secrets.CONNECTIONSTRING }}
          docker tag ${{ secrets.DOCKER_USERNAME }}/strato-api ${{ secrets.DOCKER_USERNAME }}/strato-api:${{ steps.image-tag.outputs.tag }}

      - name: Push Docker image
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_USERNAME }}/strato-api:${{ steps.image-tag.outputs.tag }}

#      - name: Checkout devops repository
#        uses: actions/checkout@v2
#        with:
#          repository: ChristofferGamel/studiestart-devops
#          token: ${{ secrets.DEVOPS_REPO_TOKEN }}
#          path: devops-repo

#      - name: Update Kubernetes manifest
#        run: |
#          cd devops-repo
#          sed -i "s|image: cgamel/strato-api:.*|image: ${{ steps.image-tag.outputs.full_image }}|g" backend/backend-deployment.yaml
#          git config --global user.email "action@github.com"
#          git config --global user.name "GitHub Action"
#          git add backend/backend-deployment.yaml
#          git commit -m "Update backend image to ${{ steps.image-tag.outputs.tag }}"
#          git push